.section {
  display: flex;
  justify-content: center;
  margin: 0;
  display: flex;
}


#products {
  background-color: rgb(23, 29, 71);
  text-align: center;
  width: 100%;
}

#cart {
  background-color: rgb(45, 48, 94);
  text-align: center;
  width: 100%;
  color: white;

}

h1 {
  color: white;
  position: absolute;
  align-self: flex-start;
}

.section div {
  height: 700px;
  width: 300px;
}

img {
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

ul {
  list-style: none;
  color: white;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  padding: 20px;
}